<?xml version='1.0.0' encoding='utf-8'?>
<widget id="io.flashmodes" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Flash Modes</name>
    <description>
        Simple app to test flash modes (camera flash) supported by an android device
    </description>
    <author email="martin.cisneros@gmail.com" href="http://cordova.io">
        PC Solutions
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="android">
        <icon density="ldpi" src="res/android/ldpi.png" />
        <icon density="mdpi" src="res/android/mdpi.png" />
        <icon density="hdpi" src="res/android/hdpi.png" />
        <icon density="xhdpi" src="res/android/xhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-camera-preview" spec="git+https://bitbucket.org/martinciscap/camera-preview-2.git">
        <variable name="ANDROID_SUPPORT_LIBRARY_VERSION" value="25+" />
    </plugin>
</widget>
